/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 20, 14, 9:01:52 AM
    Author     : Arneil Leonin
*/

.banner {
    background-image: url('../images/ortigas1.jpg');
    background-size: cover;
    background-position: right;
    min-height: 50px;
}


body {
    color: #ffffff;
}

/*
#highlight {
    font-size: 45px;
    margin: 0 auto;
    background-color: rgba(255,0,0,0.8);

}
*/
.red {
    background-color: rgba(255,0,0,0.8);
    font-size: 45px;
    margin: 0 auto;
}

.section1 {
    min-height: 600px;
    background-image: url('../img/sunrise2.jpg');
    background-size: cover;
}

.section2 {
    padding-top: 0.5px;
    min-height: 300px;
    background-color: #1F4659;
}

.section3 {
    min-height: 300px;
    background-color: #ADAFAA;
}


.textField {
    background-color: lightblue;

}

.map_canvas{
    width: 1000px;
    height: 1000px;
}

.participant_full{

}


#map-canvas{

    width: 890px;
    height: 500px;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #002a80;
    padding: 5px;
    border: 10px solid #999;
}