<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SearchOrganization</servlet-name>
        <servlet-class>SERVLET.SearchOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrganization</servlet-name>
        <servlet-class>SERVLET.GetOrganization</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchOrganization</servlet-name>
        <url-pattern>/SearchOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrganization</servlet-name>
        <url-pattern>/GetOrganization</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
