/* 
    Created on : 02 20, 14, 9:01:52 AM
    Author     : Arneil Leonin
*/

.updateSection{
    padding-top: 0.5px;
    min-height: 550px;
    background-image: url('../img/joy1.jpg');
    background-position: inherit;
    overflow: hidden;

}

.tile {
    padding:10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.banner {
    background-image: url('../img/sunrise2.jpg');
    background-size: cover;
    background-position: right;
    min-height: 170px;
}


.red {
    background-color: rgba(255,0,0,0.8);
    font-size: 45px;
    margin: 0 auto;
}

.section1 {
    padding-top: 0.5px;
    min-height: 600px;
    background-image: url('../img/phmap.png');
    background-position: inherit;

}
/*Why be a volunteer*/ 
.section2 {
    min-height: 600px;
    background-image: url('../img/volunteers2.jpg');
    background-size: cover;
}

.section3 {
    min-height: 600px;
    background-image: url('../img/ngo2.jpg');
    background-size: cover;
}

.section4 {
    min-height: 600px;
    background-image: url('../img/devs.jpg');
    background-size: cover;
}


.textField {
    background-color: lightblue;

}

.map_canvas{
    width: 1000px;
    height: 1000px;
}

.participant_full{

}


#map-canvas{

    /*width: 890px;
    height: 500px;*/
    min-width: 100%;
    min-height: 100%;
}

#panel {
    /* position: absolute;*/
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #002a80;
    padding: 5px;
    border: 10px solid #999;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.inner {
    position: absolute;
}

#wrapper { position: relative; height: 80%;}
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }

.portfolio{
    min-height: 200px;
    background-color: #cccccc;
    color: #fff !important;
}

.portfolio a {
    text-decoration: none;
    color: #fff !important;
}

.portfolio a:hover {
    color: #000;
}

#menu1 {
    background-image: url('../img/sunrise2.jpg');
    background-size: cover;
}

#menu2 {
    background-image: url('../img/stick1.png');
    background-size: inherit;
}
#menu3 {
    background-image: url('../img/ngo1.jpg');
    background-size: cover;
}
#menu4 {
    background-image: url('../img/ngo2.jpg');
    background-size: cover;
}
#menu5 {
    background-image: url('../img/RG2.png');
    background-size: cover;
}

.logowrapper{
    width: 300px;
    height: 100px;
    background-image: url('../img/RG1.png');
}

/*Accordion style*/
.accordion{
	width: 600px;
	margin: 10px auto 30px auto;
	text-align: left;
}

.accordion label{
	font-family: "Trebuchet MS", Tahoma,  Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordion label:hover{
	background: #fff;
}

.accordion input:checked + label,
.accordion input:checked + label:hover{
	background: #77bac8;
	color: #00334C;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.accordion label:hover:after,
.accordion input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/down.png) no-repeat center center;	
}

.accordion input:checked + label:hover:after{
	background-image: url(../images/up.png);
}

.accordion input{
	display: none;
}

.expand input{
	display: inline;
}

#sections {
	font-family:"Trebuchet MS", Tahoma, Arial, sans-serif;
	width:100%;
	border-collapse:collapse;
}

#sections td, #customers th {
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}

#sections th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}

#sections tr.alt td {
background-color:#EAF2D3;
}

#closed {
	color:red;
	font-style:italic;
}

#closed input {
	display:none;
}

.accordion article.expand{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.accordion input:checked ~ article.expand{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	height: 500px;
}

.accordion button{
	margin:auto;
}

.accordion table{
	padding:20px;
}